.Admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin: 15px;
    border: none;
    padding: 10px;
    background: #ff5454;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transform: translateY(-5px);
      box-shadow: 3px 3px 5px 0px #ccc;
    }
  }

  h3 {
    margin-bottom: 10px;
  }

  .chuckItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 1000px;
    box-shadow: 0 0 5px rgb(26, 44, 65);
    color: #14213d;
    font-weight: 500;
    border-bottom: 3px solid #ff5454;

    img {
      width: 65px;
      height: 65px;
      border-radius: 100%;
      margin-right: 10px;
      margin: 15px;
    }
  }
}
