.signup_form {
  form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error {
      position: relative;
    }

    h3 {
      color: #ff5454;
      font-size: 2rem;
      font-weight: 500;
    }
    .inputBox {
      display: flex;
      flex-direction: row;
    }
    input {
      margin-top: 10px;
      width: 400px;
      padding: 10px;
      border-radius: 3px;
      outline: none;
      border: 3px solid grey;
    }

    button {
      width: 300px;
      padding: 10px;
      margin-top: 10px;
      background: #ff5454;
      border: none;
      border-radius: 3px;
      color: white;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
