.errorPopup {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 10px 3px 10px 3px;
  background-color: red;
  width: 200px;
  border-radius: 3px;

  p {
    margin: 0;
    color: white;
  }
}
