.Home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;

    .header_text {
      margin-top: 50px;
      margin-right: 50px;
    }
  }

  img {
    width: 250px;
  }

  color: #1d3557;
  .Links_container {
    display: flex;
    align-items: center;
    flex-direction: row;

    a {
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      background-color: #ff5454;
      color: white;
      border-radius: 3px;
      transition: 0.3s;
      margin: 5px;

      &:hover {
        opacity: 0.8;
        transform: translateY(-5px);
      }
    }
  }
}
